body {
    background: rgba(0, 0, 0, 0.9);
    margin: 0;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.showCase::after{
    content: '';
    background-image: url(people1.jpg);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    filter: blur(0px);
    -webkit-filter: blur(0px);
    transition: all 1000ms;
}

.showCase:hover::after{
    filter: blur(10px);
    -webkit-filter: blur(10px);
}

.content {
     position: absolute;
     z-index: 1;
     top: 10%;
     left: 50%;
     margin-top: 105px;
     margin-left: -145px;
     width: 300px;
     height: 350px;
     text-align: center;
     transition: all 1000ms;
}
.content .logo {
     /* height: 180px;
     width: 200px; */
}
.content .title {

}
.content .text {

}